body {
  background-color: black;
  font-family: arial;
  color: white;
}

h1 {
  color: grey;
  font-family: verdana;
  text-align: center;
}

table {
  width: 400px;
  margin: 0 auto;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
}

.highlight {
  background-color: yellow;
}
